:root {
  --white: #fff;
  --gray: #f3f5f6;
  --dark-gray: #5d5d6d;
  --red: #de3838;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gray);
}
