:root {
  --white: #fff;
  --light-gray: #f3f5f6;
  --gray: #E9E9F0;
  --text-dark: #737380;
  --dark-gray: #5d5d6d;
  --black: #09090A;
  --red: #de3838;
  --orange: #FFA585;
  --blue: #115D8C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--light-gray);
  color: var(--text-dark);
}

main {
  padding: 0 10em;
}
