:root {
  --white: #fff;
  --light-gray: #f3f5f6;
  --gray: #e9e9f0;
  --medium-gray: #DCE2E5;
  --text-dark: #737380;
  --dark-gray: #5d5d6d;
  --black: #09090a;
  --red: #de3838;
  --orange: #ffa585;
  --blue: #115d8c;
  --green: #51B853;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--light-gray);
  color: var(--text-dark);
  padding-bottom: 2em;
}

main {
  padding: 0 10em;
}
